"properties": {
"content": " log4j.rootLogger=INFO, ROLLINGFILE\n log4j.appender.ROLLINGFILE=org.apache.log4j.RollingFileAppender\n log4j.appender.ROLLINGFILE.MaxFileSize=500MB\n log4j.appender.ROLLINGFILE.Threshold=DEBUG\n log4j.appender.ROLLINGFILE.MaxBackupIndex=7\n log4j.appender.ROLLINGFILE.File={{ log_dir }}/kafka/server.log\n log4j.appender.ROLLINGFILE.layout=org.apache.log4j.PatternLayout\n log4j.appender.ROLLINGFILE.layout.ConversionPattern=%d{ISO8601} - %-5p [%t:%C{1}@%L] - %m%n\n "}
