<topology>
	<gateway>
		<provider>
			<role>authentication</role>
			<name>ShiroProvider</name>
			<enabled>true</enabled>
			<param><name>sessionTimeout</name><value>30</value></param>
			<param><name>main.ldapRealm</name><value>org.apache.hadoop.gateway.shirorealm.KnoxLdapRealm</value></param>
			<param><name>main.ldapRealm.userDnTemplate</name><value>CN={0},{HADOOP_SEARCHBASE}</value></param>
			<param><name>main.ldapRealm.contextFactory.url</name><value>{HADOOP_LDAPURL}</value></param>
			<param><name>main.ldapRealm.contextFactory.authenticationMechanism</name><value>simple</value></param>
			<param><name>main.ldapRealm.contextFactory.systemUsername</name><value>{HADOOP_LDAP_SEARCHUSER},{HADOOP_SEARCHBASE}</value></param>
			<param><name>main.ldapRealm.contextFactory.systemPassword</name><value>{HADOOP_LDAP_PASSWORD}</value></param>
			<param><name>urls./**</name><value>authcBasic</value></param>
		</provider>

		<provider>
			<role>identity-assertion</role>
			<name>Default</name>
			<enabled>true</enabled>
		</provider>

		<provider>
			<role>authorization</role>
			<name>XASecurePDPKnox</name>
			<enabled>true</enabled>
		</provider>
	</gateway>

	<provider>
		<role>ha</role>
		<name>HaProvider</name>
		<param><name>WEBHDFS</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>
		<param><name>NAMENODE</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>
		<param><name>JOBTRACKER</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>
		{% if hive_enable %}<param><name>WEBHCAT</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>{% endif %}
		{% if hbase_enable %}<param><name>HBASE</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>{% endif %}
		{% if oozie_enable %}<param><name>OOZIE</name><value>maxFailoverAttempts=3;failoverSleep=1000;maxRetryAttempts=300;retrySleep=1000;enabled=true</value></param>{% endif %}
                {% if hive_enable %}<param><name>HIVE</name><value>maxFailoverAttempts=3;failoverSleep=1000;enabled=true;zookeeperEnsemble={% for host in groups['zookeeper_quorum_nodes'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %};zookeeperNamespace=hiveserver2</value></param>{% endif %}
	</provider>

	<service>
	 <role>NAMENODE</role>
	 {% for host in groups['hadoop_namenode_server_nodes'] %}<url>hdfs://{{ host }}:8020</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>

	<service>
	 <role>JOBTRACKER</role>
	 {% for host in groups['hadoop_jobtracker_nodes'] %}<url>rpc://{{ host }}:8050</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>

	<service>
	 <role>WEBHDFS</role>
	 {% for host in groups['hadoop_namenode_server_nodes'] %}<url>http://{{ host }}:50070/webhdfs</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>

	{% if hive_enable %}
	<service>
	 <role>WEBHCAT</role>
	    {% for host in groups['webhcat_nodes'] %}<url>http://{{ host }}:50111/templeton</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>
	{% endif %}

	{% if oozie_enable %}
	<service>
	    <role>OOZIE</role>
	    {% for host in groups['hadoop_primary_master_node1'] %}<url>http://{{ host }}:11000/oozie</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>
	{% endif %}

	{% if hbase_enable %}
	<service>
	    <role>HBASE</role>
	    {% for host in groups['hadoop_hbase_nodes'] %}<url>http://{{ host }}:8080</url>{% if not loop.last %}\n{% endif %}{% endfor %}
	</service>
	{% endif %}

	{% if hive_enable %}
	<service>
	    <role>HIVE</role>
	</service>
	{% endif %}

	{% if yarn_enable %}
	<service>
	    <role>RESOURCEMANAGER</role>
	    <url>http://{% for host in groups['hadoop_primary_master_node2'] %}{% if loop.first %}{{ host }}:8088/ws{% endif %}{% if not loop.last %}\n{% endif %}{% endfor %}</url>
	</service>
	{% endif %}

	{% if knox_enable %}
	<service>
	    <role>KNOX</role>
	</service>
	{% endif %}

</topology>
