{
  "spark-env": {
    {% include "spark/spark-env.j2" %}
  }
},
{
  "spark-defaults": {
    {% include "spark/spark-defaults.j2" %}
  }
},
{
  "spark-log4j-properties": {
    {% include "spark/spark-log4j-properties.j2" %}
  }
}



