{
  "storm-env": {
    "properties": {
      "storm_log_dir": "{{ log_dir }}/storm"
    }
  }
},
{
  "storm-site": {
    "properties": {
      "storm.local.dir": "{{ control_dir }}/storm",
      "java.library.path": "/usr/local/lib:/opt/local/lib:/usr/lib:/usr/hdp/current/storm-client/lib",
      "nimbus.seeds": "[{% for host in groups['hadoop_primary_master_nodes'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}]",
      "storm.zookeeper.quorum": "{% for item in groups['zookeeper_quorum_nodes'] %}{{ item }}{% if not loop.last %},{% endif %}{% endfor %}",
      "nimbus.reassign": "true"
    }
  }
}
