{
  "capacity-scheduler": {
    "properties_attributes": { },
    "properties": {
      "yarn.scheduler.capacity.root.production-env.production-batch.state": "RUNNING",
      "yarn.scheduler.capacity.root.development-env.development-interactive.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-interactive.capacity": "20",
      "yarn.scheduler.capacity.root.development-env.development-batch.capacity": "35",
      "yarn.scheduler.capacity.root.development-env.development-interactive.capacity": "20",
      "yarn.scheduler.capacity.root.production-env.production-batch.capacity": "35",
      "yarn.scheduler.capacity.root.exploration-env.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.queues": "default,development-env,exploration-env,pre-production-env,production-env,test-env",
      "yarn.scheduler.capacity.root.development-env.development-batch.user-limit-factor": "10",
      "yarn.scheduler.capacity.maximum-applications": "10000",
      "yarn.scheduler.capacity.root.development-env.development-stream.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.queues": "pre-production-batch,pre-production-interactive,pre-production-stream",
      "yarn.scheduler.capacity.root.production-env.capacity": "30",
      "yarn.scheduler.capacity.root.pre-production-env.state": "RUNNING",
      "yarn.scheduler.capacity.root.production-env.production-stream.capacity": "45",
      "yarn.scheduler.capacity.root.pre-production-env.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-interactive.acl_submit_applications": "*",
      "yarn.scheduler.capacity.default.minimum-user-limit-percent": "100",
      "yarn.scheduler.capacity.root.development-env.development-stream.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-stream.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-stream.state": "RUNNING",
      "yarn.scheduler.capacity.root.development-env.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.exploration-env.exploration-batch.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.test-env.test-stream.capacity": "45",
      "yarn.scheduler.capacity.root.default.user-limit-factor": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-interactive.state": "RUNNING",
      "yarn.scheduler.capacity.root.default.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-batch.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.development-env.development-interactive.state": "RUNNING",
      "yarn.scheduler.capacity.root.test-env.test-batch.user-limit-factor": "10",
      "yarn.scheduler.capacity.maximum-am-resource-percent": "0.2",
      "yarn.scheduler.capacity.root.exploration-env.exploration-stream.capacity": "45",
      "yarn.scheduler.capacity.root.production-env.production-batch.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.development-env.development-batch.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.development-env.development-interactive.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-stream.state": "RUNNING",
      "yarn.scheduler.capacity.root.development-env.state": "RUNNING",
      "yarn.scheduler.capacity.root.production-env.production-stream.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-interactive.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.development-env.capacity": "13",
      "yarn.scheduler.capacity.root.default.state": "RUNNING",
      "yarn.scheduler.capacity.root.test-env.test-stream.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-interactive.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-batch.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.accessible-node-labels": "*",
      "yarn.scheduler.capacity.root.test-env.test-stream.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.production-env.state": "RUNNING",
      "yarn.scheduler.capacity.root.default.acl_administer_jobs": "*",
      "yarn.scheduler.capacity.root.pre-production-env.capacity": "20",
      "yarn.scheduler.capacity.root.production-env.production-interactive.acl_submit_applications": "*",
      "yarn.scheduler.capacity.resource-calculator": "org.apache.hadoop.yarn.util.resource.DefaultResourceCalculator",
      "yarn.scheduler.capacity.root.test-env.test-interactive.capacity": "20",
      "yarn.scheduler.capacity.root.exploration-env.exploration-batch.capacity": "35",
      "yarn.scheduler.capacity.root.production-env.production-stream.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-interactive.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.exploration-env.exploration-stream.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.production-env.queues": "production-batch,production-interactive,production-stream",
      "yarn.scheduler.capacity.root.pre-production-env.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.production-env.production-stream.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-interactive.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.exploration-env.exploration-interactive.capacity": "20",
      "yarn.scheduler.capacity.root.development-env.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.acl_administer_queue": "*",
      "yarn.scheduler.capacity.root.production-env.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-stream.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.test-env.state": "RUNNING",
      "yarn.scheduler.capacity.root.test-env.test-interactive.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.test-env.capacity": "13",
      "yarn.scheduler.capacity.root.default.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.exploration-env.exploration-batch.state": "RUNNING",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-batch.capacity": "35",
      "yarn.scheduler.capacity.root.exploration-env.capacity": "14",
      "yarn.scheduler.capacity.root.exploration-env.user-limit-factor": "10",
      "yarn.scheduler.capacity.queue-mappings-override.enable": "false",
      "yarn.scheduler.capacity.root.production-env.production-interactive.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.exploration-env.exploration-batch.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.development-env.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.exploration-env.exploration-stream.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-batch.state": "RUNNING",
      "yarn.scheduler.capacity.root.exploration-env.state": "RUNNING",
      "yarn.scheduler.capacity.root.production-env.production-interactive.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-stream.state": "RUNNING",
      "yarn.scheduler.capacity.root.test-env.queues": "test-batch,test-interactive,test-stream",
      "yarn.scheduler.capacity.root.production-env.production-interactive.state": "RUNNING",
      "yarn.scheduler.capacity.root.test-env.test-stream.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.test-env.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.development-env.development-stream.capacity": "45",
      "yarn.scheduler.capacity.root.development-env.development-stream.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.exploration-env.queues": "exploration-batch,exploration-interactive,exploration-stream",
      "yarn.scheduler.capacity.root.production-env.production-batch.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.production-env.production-batch.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.test-env.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-interactive.state": "RUNNING",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-interactive.state": "RUNNING",
      "yarn.scheduler.capacity.root.development-env.development-batch.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-interactive.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-stream.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-interactive.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.exploration-env.exploration-stream.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-batch.capacity": "35",
      "yarn.scheduler.capacity.root.production-env.user-limit-factor": "10",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-stream.capacity": "45",
      "yarn.scheduler.capacity.root.production-env.production-interactive.capacity": "20",
      "yarn.scheduler.capacity.root.development-env.development-interactive.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.production-env.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-batch.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.test-env.test-batch.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.development-env.development-batch.state": "RUNNING",
      "yarn.scheduler.capacity.root.exploration-env.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-batch.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.test-batch.state": "RUNNING",
      "yarn.scheduler.capacity.root.production-env.production-stream.state": "RUNNING",
      "yarn.scheduler.capacity.root.development-env.queues": "development-batch,development-interactive,development-stream",
      "yarn.scheduler.capacity.root.default.capacity": "10",
      "yarn.scheduler.capacity.root.pre-production-env.pre-production-batch.maximum-capacity": "100",
      "yarn.scheduler.capacity.root.development-env.development-stream.state": "RUNNING",
      "yarn.scheduler.capacity.root.pre-production-env.user-limit-factor": "10",
      "yarn.scheduler.capacity.node-locality-delay": "40",
      "yarn.scheduler.capacity.root.test-env.test-interactive.acl_submit_applications": "*",
      "yarn.scheduler.capacity.root.test-env.maximum-capacity": "100"
    }
  }
}
